body.homeBG{
  background: url("../images/body-image.png");
  width: 100%;
  background-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px;
}
body{
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 100vh;
  font-weight: normal;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.topHeader{
  max-width: 1200px;
  margin: 0px auto;
}
.center-content{
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}
.btn-info {
	color: #FFFFFF !important;
}
.topHeader .navbar-default{
  background: none !important;
  border: none !important;
}
.topHeader .navbar-brand{
  height: 100px;
}
.topHeader .navbar-default .navbar-nav > li > a{
  color: #FFFFFF;
  font-size: 20px;
  padding: 23px 15px;
  font-weight: 300;
}
.topHeader .navbar-default .navbar-nav > li > a:hover{
  background: #FFFFFF;
  color: #000000 !important;
}
.home-cont h1{
  color: #FFFFFF;
  font-size: 60px;
  font-weight: bold;
}
.home-cont p{
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}
.home-cont{
  max-width: 1200px;
  margin: 0px auto;
  margin-top: 100px;
}
.home-cont .wrap-item{
  max-width: 565px;
  margin: 0px auto;
}
.topHeader .navbar-nav{
  padding: 25px 0px;
}
.topHeader .navbar-brand img{
  width: auto;
  height: 100%;
}
.btn:hover,a:hover{
  font-weight:normal;
}
.btn{
  border-radius: 4px;
}
.panel-group {
	margin-bottom: 20px;
	padding: 10px;
}
.NoPadding{
  padding: 0px !important;
}
.wrap-navbar{
  background: #3E3E3E;
}
.wrap-navbar .topHeader .navbar-brand img{
  width: 200px;
  height: auto;
}
.wrap-navbar .topHeader .navbar-brand {
	height: 64px;
  padding: 10px 15px;
}
.wrap-navbar .topHeader .navbar-nav {
	padding: 0px 0px;
}
.wrap-navbar .navbar {
	min-height: 66px;
}
.topHeader .navbar-default .navbar-nav > li > a:hover{
  color: #3c763d;
}
@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
  	width: 510px;
  	float: right;
  }
}
@media (max-width: 768px) {
  body.homeBG{
    background: url("../images/body-imageMB.png");
    width: 100%;
    background-size: 100%;
  }
  .topHeader .navbar-brand{
    height: 75px;
  }
  .navbar-default .navbar-toggle {
    border-color: #FFFFFF;
    margin-top: 20px;
    border-radius: 4px;
  }
  .navbar-default .navbar-toggle .icon-bar {
  	background-color: #FFFFFF;
  }
  .topHeader .navbar-nav {
    padding: 0px 0px;
  }
}

@media (max-width: 600px) {
  .home-cont h1 {
  	font-size: 35px;
  }
  .home-cont p {
  	font-size: 18px;
  }
  .home-cont {
  	padding: 0px 15px;
  }
}


.form-control-wrapper .floating-label{
	top: -18px;
	font-size: 15px;
	opacity: 1;
}
.form-control-wrapper .form-control:focus ~ .floating-label, .form-control-wrapper .form-control:not(.empty) ~ .floating-label {
  top: -18px;
	font-size: 15px;
	opacity: 1;
}
.loginCenter{
  width: 300px;
  margin: 0px auto;
}
.loginCenter h2{
  margin-bottom: 50px;
}
.loginCenter .form-group{

  margin-bottom: 30px;
}
.loginCenter .form-group .form-control-wrapper a.passforgot{
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 400;
}
.loginCenter .form-group .form-control-wrapper button.btn{
  float: right;
}
.loginCenter .form-group .form-control{
  font-size: 18px;
}
footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.reset-pass{

}
.reset-pass h2{
  margin-bottom: 50px;
}
.card {
	min-height: 330px;
	margin-top: 15px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: .25s box-shadow;
	transition: .25s box-shadow;
	max-width: 400px;
	margin: 0px auto 30px;
	display: block;
	padding: 15px;
  text-align: center;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.card i{
  font-size: 100px;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.card:hover > i{
  transform: rotateZ(240deg);
  transform: scale(1.2);
}
.card .card-block > a{
  text-decoration: none;
  font-weight: 300;
}
.card-block h4.card-title{
  font-size: 55px;
}
.card-block p.card-text{
  font-size: 30px;
}
.card-footer p{
  font-size: 16px;
}
.card-footer p a{
  display: block;
  color: #03a9f4;
  font-weight: 300;
  text-decoration: none;
}
.card .card-footer {
    height: 10%;
    padding: 10px 15px;
}
.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.text-success {
    color: #4caf50 !important;
}
.bs-component{
  margin-bottom: 90px;
  margin-top: 20px;
}
.btn.btn-primary {
	color: #FFFFFF ;
}
.Capabilities .btn.btn-primary {
	color: #3A3A3A !important;
}
.container.table-section{
  background: #FFFFFF;
}
table.table-striped.table-hover{
  width: 100%;
}
table.table-striped.table-hover table.table-striped.table-hover{
  margin-bottom: 50px;
  margin-top: 50px;
}
table.table-striped.table-hover tr{

}
table.table-striped.table-hover tr th{

}
table.table-striped.table-hover tr th label{
  font-size: 16px;
}
table.table-striped.table-hover tr td{

}
table.table-striped.table-hover tr td a.yellow-tooltip{
  color: #595959;
}
table.table-striped.table-hover tr td a:hover{
  color: #009688;
}
table .table-header{
  width: 100%;
}
table .table-header label{
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
table .table-header a.btn{
  width: 300px;
}
.reset-pass h1{
  padding-bottom: 20px;
}
.card i.A1{
  color: silver;
}
.card i.A2{
  color: silver;
}
.wrap-table-del{

}
.wrap-table-del h1{
  text-align: center;
}

.wrap-table-del .container_expand, .wrap-table-del .sub_container_expand {
	width: 95%;
	margin: 0 auto;
	border: 1px solid #d3d3d3;
	margin-bottom: 15px;
	border-top: 0px;
	border-radius: 10px 10px 3px 3px;
	margin-top: 10px;
}
.wrap-table-del .container_expand div,.wrap-table-del .sub_container_expand div{
  width:100%;
}
.wrap-table-del .container_expand .header,.wrap-table-del .sub_container_expand .sub_header {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue";
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}
.wrap-table-del .container_expand .content,.wrap-table-del .sub_container_expand .content {
  padding: 15px;
  border-top-color: #d6e9c6;
  border-top: 1px solid #ddd;
}
.table-borderless tr td{
  border: 0px !important;
}
.captability table.table-striped.table-hover tr th {
	width: 234px;
}
.captability table.table-striped.table-hover tr td {

}
.captability table.table-striped.table-hover tr{

}
.captability table.table-striped.table-hover {
    width: 100%;
    margin-bottom: 20px;
}
.captability .table-section{
  padding: 15px;
  background: #FFFFFF;
}
.captability input{
  height: 38px;
  width: 300px;
}
.captability label{
  margin-bottom: 0px;
}
.captability .table-section label{
  margin-right: 15px;
}
.captability table.table-striped.table-hover tr th:first-child,.captability table.table-striped.table-hover tr td:first-child {
	width: 400px;
}
.properties .form-group input{
  width: 100%;
  height: 40px;
}
.properties .form-group textarea{
  width: 100%;
}
.properties .form-group {
	overflow: auto;
  margin-bottom: 5px;
}
.ViewSequenceList .form-group{
  overflow: auto;
}
.ViewSequenceList .form-group input{
  width: 100%;
  height: 35px;
}
.ViewSequenceList .form-group select{
  width: 100%;
  height: 35px;
}
.center-all{
  margin: 0px auto;
  float: none;
}
.ViewSequenceList table tr td a{
  color: #595959;
}
