body.homeBG{
  background: url("../images/body-image.png");
  width: 100%;
  background-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0px;
}
body{
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 100vh;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.topHeader{
  max-width: 1200px;
  margin: 0px auto;
}
.center-content{
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}
.btn-info {
	color: #FFFFFF !important;
}
.topHeader .navbar-default{
  background: none !important;
  border: none !important;
}
.topHeader .navbar-brand{
  height: 100px;
}
.topHeader .navbar-default .navbar-nav > li > a{
  color: #FFFFFF;
  font-size: 20px;
  padding: 23px 15px;
  font-weight: 300;
}
.topHeader .navbar-default .navbar-nav > li > a:hover{
  background: #FFFFFF;
  color: #000000 !important;
}
.home-cont h1{
  color: #FFFFFF;
  font-size: 60px;
  font-weight: bold;
}
.home-cont p{
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}
.home-cont{
  max-width: 1200px;
  margin: 0px auto;
  margin-top: 100px;
}
.home-cont .wrap-item{
  max-width: 565px;
  margin: 0px auto;
}
.topHeader .navbar-nav{
  padding: 25px 0px;
}
.topHeader .navbar-brand img{
  width: auto;
  height: 100%;
}
.btn:hover,a:hover{
  font-weight:normal;
}
.btn{
  border-radius: 4px;
}
.panel-group {
	margin-bottom: 20px;
	padding: 10px;
}
.NoPadding{
  padding: 0px !important;
}
.wrap-navbar{
  background: #3E3E3E;
}
.wrap-navbar .topHeader .navbar-brand img{
  width: 200px;
  height: auto;
}
.wrap-navbar .topHeader .navbar-brand {
	height: 64px;
  padding: 10px 15px;
}
.wrap-navbar .topHeader .navbar-nav {
	padding: 0px 0px;
}
.wrap-navbar .navbar {
	min-height: 66px;
}
.topHeader .navbar-default .navbar-nav > li > a:hover{
  color: #3c763d;
}
@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
  	width: 510px;
  	float: right;
  }
}
@media (max-width: 768px) {
  body.homeBG{
    background: url("../images/body-imageMB.png");
    width: 100%;
    background-size: 100%;
  }
  .topHeader .navbar-brand{
    height: 75px;
  }
  .navbar-default .navbar-toggle {
    border-color: #FFFFFF;
    margin-top: 20px;
    border-radius: 4px;
  }
  .navbar-default .navbar-toggle .icon-bar {
  	background-color: #FFFFFF;
  }
  .topHeader .navbar-nav {
    padding: 0px 0px;
  }
}

@media (max-width: 600px) {
  .home-cont h1 {
  	font-size: 35px;
  }
  .home-cont p {
  	font-size: 18px;
  }
  .home-cont {
  	padding: 0px 15px;
  }
}


.form-control-wrapper .floating-label{
	top: -18px;
	font-size: 15px;
	opacity: 1;
}
.form-control-wrapper .form-control:focus ~ .floating-label, .form-control-wrapper .form-control:not(.empty) ~ .floating-label {
  top: -18px;
	font-size: 15px;
	opacity: 1;
}
.loginCenter{
  width: 300px;
  margin: 0px auto;
}
.loginCenter h2{
  margin-bottom: 50px;
}
.loginCenter .form-group{

  margin-bottom: 30px;
}
.loginCenter .form-group .form-control-wrapper a.passforgot{
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 400;
}
.loginCenter .form-group .form-control-wrapper button.btn{
  float: right;
}
.loginCenter .form-group .form-control{
  font-size: 18px;
}
footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.reset-pass{

}
.reset-pass h2{
  margin-bottom: 50px;
}
.card {
	min-height: 330px;
	margin-top: 15px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: .25s box-shadow;
	transition: .25s box-shadow;
	max-width: 400px;
	margin: 0px auto;
	display: block;
	padding: 15px;
  text-align: center;
}
.card i{
  font-size: 60px;
}
.card .card-block > a{
  text-decoration: none;
}
.card-block h4.card-title{
  font-size: 55px;
}
.card-block p.card-text{
  font-size: 30px;
}
.card-footer p{
  font-size: 16px;
}
.card-footer p a{
  display: block;
  color: #03a9f4;
  font-weight: 300;
  text-decoration: none;
}
.card .card-footer {
    height: 10%;
    padding: 10px 15px;
}
.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
